[View in Colaboratory](https://colab.research.google.com/github/jorgepereira96/SAD_JorgePereira/blob/master/aulaPratica01.ipynb)

In [1]:
import sklearn.datasets as datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

"done"

'done'

In [8]:
data= datasets.california_housing.fetch_california_housing()

new_data= np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)

names= data.feature_names + ["Preços"]

dframe= pd.DataFrame(data= new_data, columns= names)

price= dframe.loc[0:,["Preços"]]

#maximum= pd.DataFrame.max(price)
#minimum= pd.DataFrame.min(price)
#mean= pd.DataFrame.mean(price)

price.aggregate(['max','min','mean'])

             Preços
max   500001.000000
min    14999.000000
mean  206855.816909

In [22]:
population= dframe.loc[0:,["Population"]]

#popMean= pd.DataFrame.mean(population)

population.aggregate(['mean'])

       Population
mean  1425.476744